
.animal-card, .reservation-card {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.animal-card img, .reservation-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  text-align: center;
}
.btn-primary {
  background-color: #FFD166 !important; /* Set your specific yellow */
  border-color: #FFD166 !important; /* Ensure the border is also yellow */
  color: white !important; /* Keep text color white */
}

.btn-primary:hover {
  background-color: #FF6F61 !important; /* Hover color */
  border-color: #FF6F61 !important; /* Hover border color */
}

.back {
  border-radius: 10px;
  margin: 0 10px;
  padding: 10px 20px !important;
  color: white !important;
  transition: background-color 0.3s;
  border: solid 0.8px #FFD166 !important; /* Border for back button */
  white-space: nowrap;
}
