#footer {
  position: absolute !important;
  margin-top: 1rem;
  padding: 1.2rem;
  width: 100%;
  bottom: 0;
  left: 0;
  font-size: 1.2rem;
  z-index: 1000;
  background-color: #FF6F61 !important;
}
