
// nav items

.nav-link {
  color: var(--primary-text-color);
  font-weight: 450 !important;
  margin-bottom: 12px;
}
.nav-link:hover{
  color: var(--primary-text-color) !important;
  border-bottom: 1px solid var(--primary-color) !important;
}

.nav-tabs {
  border-color: var(--primary-color);
}

.nav-link.active {
  //color: white !important;
  background-color: var(--primary-bg-color) !important;
  color: var(--primary-text-color);
  font-weight: 450 !important;
  border-left: 1px solid var(--primary-color)!important;
  border-right: 1px solid var(--primary-color) !important;
  border-top: 1px solid var(--primary-color) !important;
  border-bottom: 1px solid var(--primary-bg-color) !important;
}

/*a[aria-selected="true"] {
  //background-color: #FFd166 !important;
  //border-color: #3f9694 !important;
}*/

.nav-link img {
  transition: filter 0.3s;
}

//.nav-link.active img {
 // filter: invert(1);
//}

#cats-tab {
  border-top-right-radius: 22px;
  border-top-left-radius: 22px;
}

#dogs-tab {
  border-top-right-radius: 22px !important;
  border-top-left-radius: 22px !important;;
}
#rodents-tab {
  border-top-right-radius: 22px !important;;
  border-top-left-radius: 22px !important;;
}

#reptiles-tab {
  border-top-right-radius: 22px !important;;
  border-top-left-radius: 22px !important;;
}

#fishes-tab {
  border-top-right-radius: 22px !important;;
  border-top-left-radius: 22px !important;;
}

#birds-tab {
  border-top-right-radius: 22px !important;;
  border-top-left-radius: 22px !important;;
}

// cards
.card {
  border-color:ghostwhite !important;
  background-color: #f8f8f8;
  line-height: 1;
  margin: 8px 5px 8px 5px;
}

.card img {
  border-radius: 1rem;
}

.card img:hover {
  opacity: 80%;

}

.card-body {
  text-align: left;
}

.card {
  .card-title {
    font-family: Satoshi-Regular;
    color: var(--secondary-text-color);
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}

.card {
  .card-text {
    font-family: Satoshi-Regular;
    color: var(--primary-text-color);
    font-size: 0.9rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: Satoshi-Regular;
  font-weight: bold;
  margin-bottom: 2px;
}
