.back {
  background-color: var(--secondary-color);
  border-radius: 50px;
  margin: 0 10px;
  padding: 10px 20px !important;
  color: white !important;
  transition: background-color 0.3s;
  border: solid 0.8px var(--secondary-color) !important;
  white-space: nowrap;
}
.btn-primary {
  background-color: var(--secondary-color) !important;
  border-color: var(--secondary-color) !important;
  color: white !important;
}

.btn-primary:hover {
  background-color: var(--accent-color) !important;
  border-color: var(--accent-color) !important;
}

.new{
  border-radius: 10px;
}

.retour {
  margin-top: 40px !important;
  margin-left: 112px !important;
}
