.container {
  margin-bottom: 12px;
}
.image-right {
  border: 1px solid ;
  border-color: var(--secondary-color);
  border-radius: 30px !important;
  align-self: flex-start !important;
  margin-top: 0px !important;
}

.animal-info {
  color: var(--primary-text-color);
  line-height: 1;
  padding-top: 1.5rem !important;
  margin-bottom: 50px !important;
  font-size: 1.1rem;
}

.reserver {
  margin-top: 20px;
  font-size: 1.2rem;
  padding: auto;
}

.retour {
  margin-top: 40px !important;
  margin-left: 112px !important;
}

h1 {
  margin-top: 0 !important;
}

.img-fluid {
  margin-top: 40px !important;
  margin-bottom: 50px !important;
  border: 1px solid ;
  border-color: var(--secondary-color);
  border-radius: 30px !important;
  align-self: flex-start !important;
}
