.container {
  margin-bottom: 12px;
}
.image-right {
  border: 1px solid ;
  border-color: #FFD166;
  border-radius: 30px !important;
  align-self: flex-start !important;
  margin-top: -10px !important;
}

.animal-info {
  color: #333;
  line-height: 1;
  margin-bottom: 50px;
  padding-top: 1.5rem !important;
}

.reserver {
  margin-top: 20px;
  font-size: 1.2rem;
  padding: auto;
}

.retour {
  margin-top: 40px !important;
  margin-left: 112px !important;
}
