<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<!-- header -->
<!-- search bar -->
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="/images/home/cats.jpg" class="card-img-top" alt="Cats">
          <div class="card-body">
            <h5 class="card-title">Cats</h5>
            <p class="card-text">Find your perfect feline friend.</p>
            <a href="#" class="btn btn-primary">Explore Cats</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="../assets/images/home/dog.jpg" class="card-img-top" alt="Dogs">
          <div class="card-body">
            <h5 class="card-title">Dogs</h5>
            <p class="card-text">Discover your new canine companion.</p>
            <a href="#" class="btn btn-primary">Explore Dogs</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="../assets/images/home/fish.jpg" class="card-img-top" alt="Fishes">
          <div class="card-body">
            <h5 class="card-title">Fishes</h5>
            <p class="card-text">Dive into a world of aquatic pets.</p>
            <a href="#" class="btn btn-primary">Explore Fishes</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="../assets/images/home/reptile.jpg" class="card-img-top" alt="Reptiles">
          <div class="card-body">
            <h5 class="card-title">Reptiles</h5>
            <p class="card-text">Find your new scaly friend.</p>
            <a href="#" class="btn btn-primary">Explore Reptiles</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="../assets/images/home/rodent.jpg" class="card-img-top" alt="Rodents">
          <div class="card-body">
            <h5 class="card-title">Rodents</h5>
            <p class="card-text">Meet your new furry rodent friend.</p>
            <a href="#" class="btn btn-primary">Explore Rodents</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="../assets/images/home/bird.jpg" class="card-img-top" alt="Birds">
          <div class="card-body">
            <h5 class="card-title">Birds</h5>
            <p class="card-text">Find a feathered friend to brighten your day.</p>
            <a href="#" class="btn btn-primary">Explore Birds</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
