 <main class="container flex-grow-1 d-flex justify-content-center align-items-center mt-5">
    <section class="text-center">
      <h2>Welcome to PetsPals!</h2>
      <p class="lead">Rent your perfect companion today.</p>
      <!-- Bouton pour aller sur la page /animals -->
      <a href="/animals" class="btn btn-primary">View Animals</a>
    </section>
  </main>
