.navbar-lewagon {
  justify-content: space-between;
  background: var(--primary-bg-color);
  z-index: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo-css {
  display: flex;
  align-items: center;
}
.logo-css h1 {
  margin-right: 10px;
  font-size: 2rem;
}

.navbar-brand {
  padding-left: 5%;
  font-size: 2em;
}

#navbarSupportedContent {
  padding-right: 5%;
}

.navbar {
  border-bottom: solid 1.2px var(--primary-color);
}

.nav-link.offre:hover {
  background-color: var(--accent-color);
  color: white !important;
}

.navbar-nav .nav-item {
  margin-right: 15px;
}

// search bar
.search {
  padding: 25px 38px;
}

.search .form-control {
  border-radius: 20px 0 0 20px;
  align-items: center;
  min-width: 300px;
}

.search .btn-primary {
  border-radius: 0 20px 20px 0;
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.search .btn-primary:hover {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.logo-css{
  display: flex ;
}
.logo-css img{
  width: auto;
  height: 45px;
}
.logo-css h1{
  margin-left: 10px;
}

.nav-link.offre {
  background-color: var(--secondary-color);
  border-radius: 50px;
  margin: 0 10px;
  padding: 10px 20px !important;
  color: white;
  transition: background-color 0.3s;
  border: solid 0.8 var(--secondary-color);
  white-space: nowrap;
}

.no-marign{
  margin-bottom: 0 !important;
}
